doctype html
html(class='h-100')
  head
    meta(charset='UTF-8')
    title Palski & Associates
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300|Yantramanav:300')
    link(rel='stylesheet', href='static/assets/normalize.css')
    link(rel='stylesheet', href='static/assets/flex.css')
    link(rel='stylesheet', href='static/assets/modifiers.css')
    link(rel='stylesheet', href='static/assets/fontello/css/fontello.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/css/swiper.min.css')
  body(class= 'h-100')
