include boilerplate.pug
include nav.pug
.swiper-container
  .swiper-wrapper
    .swiper-slide
      img(src='/static/assets/img/placeholderbackground.jpg')
    .swiper-slide
      img(src='/static/assets/img/placeholderbackground.jpg')
    .swiper-slide
      img(src='/static/assets/img/placeholderbackground.jpg')
    .swiper-slide
      img(src='/static/assets/img/placeholderbackground.jpg')
  .swiper-button-prev
  .swiper-button-next
#main
  #container
    #title
      #header
        #item
          h1 Careers
        #item
          p
          | We look for technical people in the satellite mission engineering
          | field who have a bias for action and a track record of accomplishments.
    #openings
      #header
        #item
          h2 Openings
      #position
        a(href='position')
          h4 Position 1
        small
          span Location | Full-time
      #position
        a(href='position')
          h4 Position 1
        small
          span Location | Full-time
      #position
        a(href='position')
          h4 Position 1
        small
          span Location | Full-time
    #ourvalues
      #header
        #item
          h3 Our values
      #paragraph
        p
          | We are results-oriented problem solvers who are excited by complex challenges
          | and can provide well-executed technical analysis to guide our decision-making.
        p
          | We work as a team, and expect members to step up and lead, when necessary.
          | Most importantly, we are internally motivated by our willingness to learn and grow.
    #dontsee
      #header
        h3 Don't see anything that fits?
        p We'll email you when relevant opportunities open up
      form(method="post", action="/form", id="form")
        input(name="name", type="text", id="ourid", placeholder="Name", required)
        input(name="email", type="text", id="ourid", placeholder="Email", required)
        input(name="role", type="text", id="ourid", placeholder="Role desired", required)
        input(type="submit", value="Send", class='btn-cta')

include footer.pug
