include boilerplate.pug
div
  h1
    | Careers
    h4
      | We look for skilled engineers who are excited to solve technical problems
      | and develop leadership skills.
div
  h3 Open positions
  ul
    li
      a(href='position') Position 1
    ul
      li Location
      li Contingent
      li Full time
    li
      a(href='position') Position 2
    ul
      li Location
      li Contingent
      li Full time
    li
      a(href='position') Position 3
    ul
      li Location
      li Contingent
      li Full time
div
  h3 Our team
  ul
    li
      h5
        | Mike Palski
        img(src='')
      p bio
    li
      h5
        | Kathryn Palski
        img(src='')
      p bio
    li
      h5
        | Andrew Palski
        img(src='')
      p bio
    li
      h5
        | David Kalian
        img(src='')
      p bio
    li
      h5
        | Alex Lambert
        img(src='')
      p bio

include footer.pug
