script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='/static/assets/scripts.js')
div
  ul
    li Marina del Rey, CA
    li mike@palski.com
    li
      // LinkedIn icon
      img(src=' ')
