script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/js/swiper.min.js')
script
  include scripts.js
.footer-container
  .footer
    small.address
      span Palski & Associates
      span 14000 Old Harbor Lane
      span Marina del Rey, CA 90292
    a(href='https://www.linkedin.com/company-beta/3684864/')
      .icon-linkedin
