script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.0/js/swiper.min.js')
script
  include scripts.js
div
  ul
    li Marina del Rey, CA
    li mike@palski.com
    li
      // LinkedIn icon
      img(src=' ')
