div
  form(method="post", action="/form", id='form')
    input(name="name", type="text", id="ourid", placeholder="Name", required)
    input(name="email", type="text", id="ourid", placeholder="Email", required)
    input(name="message", type="textarea", id="ourid", placeholder="Tell us why you're a good fit!", required)
    input(name="resume", type="file", id="ourid")
    input(type="submit" value="Send" class="btn-cta")
