include boilerplate.pug
.hero
  .hero-body
    h1 Satellite Systems Engineering
    h4
      | Agile aerospace engineering firm focused on growing the next
      | generation of engineering and management leaders.
    a(href='careers')
      button See open positions
.grid-container
  .grid
    .grid-item
      h2 Collaborative service
      h5
        | We work closely with customers to ensure mission success,
        | modeling complex systems to architect, predict, and verify performance.
    .grid-item
      h2 30 years of experience
      h5
        | We specialize in satellite systems engineering, integration, and test. Our
        | engineers have over thirty years of experience solving problems at
        | Lockheed Martin, Orbital, Astrolink, The SI, Boeing, GE, Dupont, and Koch Industries.
    .grid-item
      h2 Work with integrity
      h5
        | We believe that the aerospace industry is broken through bureaucracy,
        | costing customers and taxpayers millions each year. Palski is different.
        | Our engineers are not bogged down by process or policy. They are
        | skilled problem solvers, excellent communicators, and budding leaders.

include footer.pug
