include boilerplate.pug
#hero
  #hero-body
    #hero-item
      h1 Satellite Systems Engineering
    #hero-item.mb2
      p Aerospace engineering firm focused on growing the next generation of engineering and management leaders.
    #hero-item
      a(href='careers')
        button.btn-cta See open positions
#main
  #container
    #services
      #header
        h4#item Why Palski?
      #service-grid
        #service
          i.icon-cubes#icon
          h3.mt2 Technical expertise
          p
            | We specialize in satellite systems engineering, integration, and test.
        #service
          i.icon-handshake-o#icon
          h3.mt2 Agile leadership
          p
            | Our engineers are not bogged down by process or policy. They are
            | skilled problem solvers, excellent communicators, and budding leaders.
        #service
          i.icon-rocket#icon
          h3.mt2 Mission success
          p
            | We work closely with customers to ensure mission success,
            | modeling complex systems to architect, predict, and verify performance.
    #milestones
      #manifest
        h4#header Manifest
        #milestone-grid.mt4
          #date
            small.fw6 April 2014
          #milestone
            p
              | We launched!
        #milestone-grid
          #date
            small.fw6 December 2014
          #milestone
            p Won first contract from CEB Metasystems
        #milestone-grid
          #date
            small.fw6 April 2016
          #milestone
            p Launched summer internship program with USC
        #milestone-grid
          #date
            small.fw6 February 2017
          #milestone
            p Awarded DARPA contract
        #milestone-grid
          #date
            small.fw6 April 2017
          #milestone
            p New location in Colorado!
    #testimonials
      #header
        h4#item What people say:
      #testimonial-grid
        #logo
          img(src='/static/assets/img/boeing-logo.png')
        #testimonial
          h3#blockquote "When I want something done right I ask for a Palski."
          small
            span.fw6 Archie Bunker
            span Space Control Engineer at Boeing
      #testimonial-grid
        #logo
          img(src='/static/assets/img/boeing-logo.png')
        #testimonial
          h3#blockquote "The Palski's are the best. We love going sailing with them."
          small
            span.fw6 Harry Hart
            span Lieutenant Colonel at Boeing
      #testimonial-grid
        #logo
          img(src='/static/assets/img/boeing-logo.png')
        #testimonial
          h3#blockquote "I do planes. The Palski's do satellites."
          small
            span.fw6 Amelia Earheart
            span First female pilot at Boeing
    #team
      #header
        h4#item All we want is missions that succeed, and cost less.
      #description
        p#item
          | We are a small team of engineers who like to solve complex problems.
      #team-grid
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Mike Palski
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Kathryn Palski
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Andrew Palski
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 David Kalian
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Alex Lambert
          p bio
    #joinus
      a(href='careers')
        button.btn-cta See open positions

include footer.pug
