include boilerplate.pug
// Landing
header(class='vh-100 w-100 mt0 dt tc-ns')
  div(class='dtc v-mid center-ns ph3 ph5-ns white-70 measure')
    h1.center-ns.measure.f2.f1-l.fw3.lh-title.lato Satellite Systems Engineering
    h4.center-ns.measure.f5.f4-l.fw2.lh-copy.roboto.pb3
      | Agile aerospace engineering firm focused on growing the next
      | generation of engineering and management leaders.
    a(href='careers')
      button(class= 'pa3 b--none shadow-4 br2 ttu roboto bg-teal white-80 dim') See open positions

// About need to vertically-align and add icons
div.cf.pa3.pa4-ns.mw9.center.white-70
  div.fl.w-100.vh-100-ns.vh-100-xl
    div.fl.w-100.w-third-l.pa4-ns.pa5-xl.pt2-l
      h2.f3.fw2.lh-title.lato.measure.measure-narrow-l.measure-narrow-xl Collaborative service
      h5.f6.f5-ns.fw1.lh-copy.roboto.measure.measure-narrow-l.measure-narrow-xl
        | We work closely with customers to ensure mission success,
        | modeling complex systems to architect, predict, and verify performance.
    div.fl.w-100.w-third-l.pa4-ns.pa5-xl
      h2.f3.fw2.lh-title.lato.measure.measure-narrow-l.measure-narrow-xl 30 years of experience
      h5.f6.f5-ns.fw1.lh-copy.roboto.measure.measure-narrow-l.measure-narrow-xl
        | We specialize in satellite systems engineering, integration, and test. Our
        | engineers have over thirty years of experience solving problems at
        | Lockheed Martin, Orbital, Astrolink, The SI, Boeing, GE, Dupont, and Koch Industries.
    div.fl.w-100.w-third-l.pa4-ns.pa5-xl.pt5-l
      h2.f3.fw2.lh-title.lato.measure.measure-narrow-l.measure-narrow-xl Work with integrity
      h5.f6.f5-ns.fw1.lh-copy.roboto.measure.measure-narrow-l.measure-narrow-xl
        | We believe that the aerospace industry is broken through bureaucracy,
        | costing customers and taxpayers millions each year. Palski is different.
        | Our engineers are not bogged down by process or policy. They are
        | skilled problem solvers, excellent communicators, and budding leaders.

// Testimonials need to align responsively
section(class= 'bg-blue pv5 pv6-ns', id= 'testimonials')
  div(class='ph3 ph5-ns')
    div.cf.w-100.center.mw9
      blockquote.fl.w-100.ph0.border-box.mh0.mb4.mb5-ns.pb5.bb.b--black-90
        img(src='/static/assets/boeing-logo.png' class='mb4 mb5-ns w-50')
        div.cf
          h2.mt0.measure.f2.f1-l.fw2.lh-title.lato When I want something done right I ask for a Palski.
          h5.f5.f4-l.lh-copy.roboto
            span.fw2 Archie Bunker
            span.db.f6.fw1 Space Control Engineer
  div(class='ph3 ph5-ns')
    div.cf.w-100.center.mw9
      blockquote.fl.w-100.ph0.border-box.mh0.mb4.mb5-ns.pb5.bb.b--black-90
        img(src='/static/assets/boeing-logo.png' class='mb4 mb5-n w-50 w-25-l')
        h2.mt0.measure.f2.f1-l.fw2.lh-title.lato The Palski's are the best. We love going sailing with them.
        h5.mtw.f5.f4-l.lh-copy.roboto
          span.fw2 Harry Hart
          span.db.f6.fw1 Lieutenant Colonel
  div(class='ph3 ph5-ns')
    div.cf.w-100.center.mw9
      blockquote.fl.w-100.ph0.border-box.mh0.mb4.mb5-ns.pb5
        img(src='/static/assets/boeing-logo.png' class='mb4 mb5-n w-50 w-25-l')
        h2.mt0.measure.f2.f1-l.fw2.lh-title.lato I do planes. The Palski's do satellites.
        h5.mtw.f5.f4-l.lh-copy.roboto
          span.fw2 Amelia Earheart
          span.db.f6.fw1 First female pilot

// Story too verbose, change into timeline?
div.white-70
  h3 Our name
  p
    | The name, Palski & Associates, was inspired by a small group of extraordinary satellite
    | systems engineers. The team had just successfully demonstrated the capabilities of an
    | experimental satellite system and was celebrating over dinner. Mike, who led the effort,
    | was giving out plaques recognizing each team member for their dedication and
    | growth over the 3-year project.
  p
    | To an outsider, it would have seemed like these engineers were lifelong friends. The long hours
    | working together on such a high-stakes mission had bonded them in a way passing time simply cannot. And even though they
    | were all technically working for one of the largest aerospace companies in the U.S., Lockheed Martin, they often
    | felt like a separate unit, distanced from the corporate drudgery and bureaucratic processes, via their common goal.
    | They often joked about how effective they could be if they started their own company, led under Mike, who
    | the younger engineers looked to for mentorship, and the older ones respected as a highly skilled colleague.
  p
    | After Mike finished handing out awards, the team surprised him with their own gift,
    | a polo shirt with an embroidered logo that read "Palski & Associates." Mike had an affinity for polos, so the gift
    | was a somewhat precipitous inside joke, planting the seed for an engineering firm seven years later, after Mike
    | met his life partner, Kathryn, a chemical engineer who had similar experiences leading teams to
    | extraordinary results at Dupont and Koch Industries.
  p
    | The two moved to El Segundo, California, to work together at an aerospace firm called The S.I. Almost immediately,
    | Kathryn, who was a newcomer to the aerospace industry, began noticing inefficiencies and silos that skyrocketed costs
    | of the projects they worked on. She shared these thoughts with Mike, who still fondly remembered the agile team of Lockheed engineers who
    | had gifted him the polo.
  p
    | Two years past, and both were still unhappy with the culture brought to light by Kathryn. They longed to create a
    | culture inspired by their higher-order values of integrity, nimbleness, and discipline, ideals shared by their S.I.
    | coworkers, but ultimately quashed through too many people, dinosaur processes, and misaligned incentives. They also felt a duty
    | to mentor young engineers into this philosophy, growing and developing them into the engineering leaders of the future.

// Contact
div
  h4 Join us
  a(href='careers') See opportunities

include footer.pug
