include boilerplate.pug
#hero
  include nav.pug
  #hero-body
    h1 Satellite Systems Engineering
    p Aerospace engineering firm focused on growing the next generation of engineering and management leaders.
    a(href='/careers#openings')
      button.btn-cta See openings
#main
  #container
    #services
      #header
        p Why Palski?
      #service-grid
        #service
          i.icon-cubes#icon
          h3.mt2 Technical expertise
          p
            | We specialize in satellite systems engineering, integration, and test.
        #service
          i.icon-handshake-o#icon
          h3.mt2 Agile leadership
          p
            | Our engineers are not bogged down by process or policy. They are
            | skilled problem solvers, excellent communicators, and budding leaders.
        #service
          i.icon-rocket#icon
          h3.mt2 Mission success
          p
            | We work closely with customers to ensure mission success,
            | modeling complex systems to architect, predict, and verify performance.
    #milestones
      #manifest
        #header
          p Manifest
        #milestone-container
          #milestone-grid
            #date
              small.fw6 April 2014
            #milestone
              p
                | We launched!
          #milestone-grid
            #date
              small.fw6 December 2014
            #milestone
              p Won first contract from CEB Metasystems
          #milestone-grid
            #date
              small.fw6 April 2016
            #milestone
              p Launched summer internship program with USC
          #milestone-grid
            #date
              small.fw6 February 2017
            #milestone
              p Awarded DARPA contract
          #milestone-grid
            #date
              small.fw6 April 2017
            #milestone
              p New location in Colorado!
    #testimonials
      #header
        p What people say:
      #testimonial-grid
        #logo
          img(src='/static/assets/img/boeing-logo.png')
        #testimonial
          h3#blockquote "When I want something done right I ask for a Palski."
          small
            span.fw6.db Archie Bunker
            span.db Space Control Engineer at Boeing
      #testimonial-grid
        #logo
          img(src='/static/assets/img/boeing-logo.png')
        #testimonial
          h3#blockquote "The Palski's are the best. We love going sailing with them."
          small
            span.fw6.db Harry Hart
            span.db Lieutenant Colonel at Boeing
      #testimonial-grid
        #logo
          img(src='/static/assets/img/boeing-logo.png')
        #testimonial
          h3#blockquote "I do planes. The Palski's do satellites."
          small
            span.fw6.db Amelia Earheart
            span.db First female pilot at Boeing
    #team
      #header
        h3 All we want is successful missions that cost less.
        p We are a small team of engineers who like to solve complex problems.
      #team-grid
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Mike Palski
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Kathryn Palski
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Andrew Palski
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 David Kalian
          p bio
        #member
          .aspect-ratio--1x1
            img(src='/static/assets/img/person-placeholder.png')
          p.fw4 Alex Lambert
          p bio
    #joinus
      a(href='/careers#openings')
        button.btn-cta See openings

include footer.pug
