button(class= 'hamburger' 'hamburger--vortex' 'is-active', type='button')
  span.hamburger-box
    span.hamburger-inner
nav(class='overlay', id='nav')
  .overlay-content
      a(href='/') Home
      a(href='careers') Careers
      a(href='/#about') About
      a(href='updates') Updates
