include boilerplate.pug
include nav.pug
#main
  #container
    #title
      #header
        h2 Position 1
        p
          span Location | Full-time
    #requirements
      #requirements-container
        #requirements-grid
          #req
            h3#blockquote You are
            p A pineapple with a big head and two feet who likes challenges.
          #req
            h3#blockquote You have
            p A hat
            p Hulahooping ability
            p 5 ears
            p A degree in witchcraft
          #req
            h3#blockquote You will
            p Make it rain money
            p Eat like a king
            p Learn the art of television commuting
    #joinus
      #form-container
        h3 Apply for this position
        include form.pug
include footer.pug
