include boilerplate.pug
div
  h1 Position 1
  ul
    li Location
    li Contingent
    li Full time
div
  h3 You are
  p A pineapple with a big head and two feet who likes challenges
  h3 You have
  ul
    li A hat
    li Hulahooping ability
    li 5 ears
    li A degree in witchcraft
  h3 You will
  ul
    li Make it rain money
    li Eat like a king
    li Learn the art of television commuting
  include form.pug
include footer.pug
