include boilerplate.pug
div
  h1 Updates
  // eventually a way to have people subscribe to post updates
  h4 News, awards, contracts, and partnerships
div
  img(src='')
  h4 Headline
  p date
  p description
  a(href='') Read More
  // icon that expands into full article
  img(src='')
  h4 Headline
  p date
  p description
  a(href='') Read More
  img(src='')
  h4 Headline
  p date
  p description
  a(href='') Read More
  img(src='')
  h4 Headline
  p date
  p description
  a(href='') Read More
include footer.pug
