include boilerplate.pug
include nav.pug
#main
  #container
    #updates
      #bar-container
        #bar
          h2 Updates
          p News, awards, contracts, and partnerships
      #article-grid
        #article
          a(href='update')
            img(src='/static/assets/img/bird.jpg', id='article-image')
          h3 Headline
          small date
          p description
        #article
          a(href='update')
            img(src='/static/assets/img/bird.jpg', id='article-image')
          h3 Headline
          small date
          p description
        #article
          a(href='update')
            img(src='/static/assets/img/bird.jpg', id='article-image')
          h3 Headline
          small date
          p description
include footer.pug
