span {
  display: block;
}

#main {

}

#container {
  padding: 3vw;
}

#hero {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;
  margin: 3vw;
}

#hero-item {
  text-align: center;
}


#description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#item {
  text-align: center;
  max-width: 25em;
}

/* Footer */

.footer-container {
display: flex;
justify-content: center;
}

.footer {
display: flex;
width: 100vw;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
padding: 10vw 3vw 3vw 3vw;
}

.address {
margin-bottom: auto;
padding: 3vw;
}

.footer a

{
align-self: flex-end;
justify-content: flex-end;
padding: 3vw;

}

/*Responsiveness*/

@media screen and (max-width: 29em) {

  /* Typography */

  html {
    font-size: .875em;
  }

  #hero-body {
    align-items: flex-start;
  }

  #hero-item {
    text-align: left;
  }

  #icon {
    font-size: 2em;
  }

  #item {
    max-width: 20em;
    text-align: center;
  }

}

@media screen and (max-width: 61.9375em) {

  /*Services */

  #services {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #service-grid {
    display: flex;
    flex-direction: column;
  }

  #service{
    margin-top: 1rem;
    flex: 1;
    padding: 3vw 5vw 3vw 5vw;
    text-align: left;
  }

  #icon {
    font-size: 3em;
  }

  /*Milestones*/

  #milestones {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #manifest {
    display: flex;
    flex-direction: column;
    padding: 0vw 5vw 0vw 5vw;
  }

  #milestone-grid {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  #milestone {
    margin: 0;
    flex: 1;
    text-align: left;
  }

  #date {
    flex: 1;
    margin: 0;
    text-align: left;
  }

/*Testimonials */

  #testimonials {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #testimonial-grid {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }

  #logo{
    margin: 0;
    flex: 1;
    padding: 0vw 3vw 0vw 3vw;
    max-width: 10em;
  }

  #testimonial {
    margin: 0;
    flex: 3;
    padding: 0vw 3vw 0vw 3vw;
    text-align: left;
  }

  #blockquote {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }


  #team {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }


  #team-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #member {
    flex: 1;
    margin-top: 1rem;
    text-align: center;
  }

  .aspect-ratio--1x1 {
    max-width: 150px;
  }

  #joinus {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    padding-top: 15vw;
  }

}

@media screen and (min-width: 30em) and (max-width: 61.9375em) {

  #hero-body {
    align-items: center;
  }

  #hero-item {
    text-align: center;
  }


}

@media screen and (min-width: 61.9375em) and (max-width: 86em) {

  /*Layout */

  #services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #service-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-between;
    margin-top: 3rem;
  }

  #service {
    flex: 1;
    padding: 3vw;
    align-self: center;
  }

  #icon {
    font-size: 4em;
  }


  #milestones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }

  #manifest {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #milestone-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #date {
    padding: 1vw 3vw 1vw 1vw;
    align-self: baseline;
    text-align: right;
    width: 15vw;

  }

  #milestone {
    padding: 1vw;
    align-self: baseline;
    width: 30vw;
  }


  #testimonials {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }


  #testimonial-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 2vw;
  }

  #logo {
    flex: 1;
    padding: 3vw;
    max-width: 15em;
    align-self: center;
  }

  #testimonial {
    flex: 3;
    padding: 3vw;
    align-self: center;
  }

  #blockquote {
    margin-bottom: 2.5rem;
  }

  #team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #team-grid {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 450px;
  }

  #member {
    width: 150px;
    text-align: center;
  }

  #joinus {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }






}

@media screen and (min-width: 86em) {

}
  /*Layout */




/* Components */

  /*Slideshow*/

.swiper-container {
    background-size: cover;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 0 auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Elements */

.btn-cta {
  padding: 15px 36px;
  min-width: 150px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-color: rgba( 255, 255, 255, .8 );
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.2857142857;
  text-align: center;
}

/* Body */





/* Responsiveness */
