
/* Spacing */

.mt2 { margin-top: 2rem; }
.mt1 { margin-top: 1rem; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.db { display: block; }


/* Typography */

.fw4 { font-weight: 400;}
.fw6 { font-weight: 600;}
