
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */